
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Kanashī Directory and Another Kanashī Files.
backup/*
onsaved/*
requests/*
*.json

# Visual Studio Code
.vscode
.vscode/*
