
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Kanashī Directory and Another Kanashī Files.
backup/*
onsaved/*
requests/*
schemas*
schemas/*
testing*
testing/*
wordlist*
wordlist/*
*.html
*.webp
*.json
*.jpeg
*.jpg
*.png
*.mp3
*.mp4

# Visual Studio Code
.vscode
.vscode/*

