
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Kanashī Directory.
backups/*
onsaved/*
requests/*

# Kanashī Files.
properties.yaml
properties.yml

# Visual Studio Code
.vscode
.vscode/*
